@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="/img/alterdomus_logo.png" alt="Sample Photo" /><br><br>
    <p>Learn more about our <a href="https://www.alterdomus.com/">Company</a> & <a href="https://careers.alterdomus.com/en">Careers</a> .</p>
</div>



